<router-outlet name="siNav"></router-outlet>
<div class="container">
        <div class="row">
          <div class="col">
      
          </div>
          <div class="col-6">
            <h2 id="UserHeader" style="color: black">{{2+2}}</h2>
          </div>
          <div class="col">
      
          </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pet Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Insurance Plans</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><router-outlet name="uInfo"></router-outlet></div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><router-outlet name="uPets"></router-outlet></div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><router-outlet name="uPlans"></router-outlet></div>
              </div>