<router-outlet name="hNav"></router-outlet>

<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <!--insert logo-->
            <img src="/assets/A+Pets_v2.0.jpg"/>
        </div>
        <div class="col">
            <p style="text-align:center; font-size:400%"><b>Vision</b></p>
            <h4 style="text-align:center"> Provide customized insurance plans for exotic pet owners to better the
                welcome of pets</h4>
        </div>
        <div class="col">
            <!--insert image of chinchilla-->
            <!--image taken from this website http://mittromneyisatool.com/top-10-reasons-why-chinchilla-is-an-amazing-pet/-->
            <img src = "/assets/chinchilla-held.jpg" style="height:298px"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <!--empty-->
        </div>
        <div class="col-6">

            <h2>Why you should choose us?</h2>

        </div>
        <div class="col"></div>
    </div>
    <br>


    <div class="row">
        <div class="col">

        </div>
        <div class="col-1" style="background-color:lightgrey; line-height:60px">
            <!--insert image here-->
            <img src="/assets/globe_clipart.jpg" height=50px>
        </div>
        <div class="col-3" style="background-color:lightgrey; vertical-align: middle; text-align: center">
            <h5>Service's are not widely given</h5>
        </div>
        <div class="col-3" style="background-color:lightgrey; ">
            <p>Only targeting to customers/pets in the state of Virgina</p>
        </div>
        <div class="col">

        </div>
    </div>
<br>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-1" style="background-color:lightgrey ">
            <!--insert image here-->
            <img src="/assets/handshake.png" height=60px>
        </div>
        <div class="col-3" style="background-color:lightgrey">
            <h5 style ="vertical-align: middle; text-align: center">Customer satisfaction with customization options</h5>
        </div>
        <div class="col-3" style="background-color:lightgrey">
            <p>Offer insurance plans that are customizable</p>
        </div>
        <div class="col">

        </div>
    </div>
<br>
    <div class="row">
            <div class="col">
    
            </div>
            <div class="col-1" style="background-color:lightgrey; line-height:90px">
                <!--insert image-->
                <img src="/assets/cash_clipart.png" height=60px>
            </div>
            <div class="col-3" style="background-color:lightgrey; vertical-align: middle; text-align: center">
                <h5 style ="line-height:85px ; vertical-align: middle; text-align: center">Philanthropic Company</h5>
            </div>
            <div class="col-3" style="background-color:lightgrey">
                <p>Our company is determine to donate to Animal and Nature Preserves in order to keep them as clean and healthy as possible</p>
            </div>
            <div class="col">
    
            </div>
        </div>