<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Reptile Plan A</h5>
          <p class="card-text">
            Nutrition Discounts<br>
            Accidental Injuries<br>
            Poisonings<br>
            Illnesses<br>
            Training and Education<br>

          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">
            Reptile Plan B
          </h5>
          <p class="card-text">Parasite Prevention<br>
            Dental Work<br>
            Physical Exams<br>
            X-Rays<br>
            Lab Fees<br>
            Diagnostics Tests<br>
            Office Visits<br>
            Prescriptions<br></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Reptile Plan C</h5>
          <p class="card-text">
            Vacation Planning Aid<br>
            Flea & Heartworm <br>
            Vaccinations<br>
            Emergency Care Options<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>