<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#editU">Edit User Info</a>
          </div>
        </div>
      </nav>

      <div class="modal fade" id="editU" tabindex="-1" *ngFor="let user of userInfo" role="dialog" aria-labelledby="editULabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editULabel">Edit User Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <form class="form" id="myform" [formGroup]="infoChange">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputEmail1" style="color: black" name="emailC" ngControlDefault required>Change
                                                Email</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                formControlName="emailC" [(ngModel)]='user.email' placeholder="Enter Email" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="phoneNumC" style="color: black" name="phoneNumC" required>Change Phone Number</label>
                                            <input type="text" class="form-control" id="phoneNumC" [(ngModel)]='user.phoneNum'
                                                formControlName="phoneNumC" placeholder="(XXX-XXX-XXXX)">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="inputAddress">Address</label>
                                            <input type="text" class="form-control" id="inputAddress" formControlName="add1C"
                                                [(ngModel)]='user.add' placeholder="1234 Main St">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="inputCity">City</label>
                                            <input type="text" class="form-control" formControlName="cityC" [(ngModel)]='user.city'
                                                id="inputCity">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="inputZip">Zip</label>
                                            <input type="text" class="form-control" formControlName="zipC" [(ngModel)]='user.zip' id="inputZip">
                                        </div>
                                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-outline-success" id="submitbutton" type="submit"(click)="info_Change(infoChange)" data-dismiss="modal">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
<br>
<div class="container" *ngFor="let user of userInfo">
    <!-- <form *ngIf = 'showForm' id="myform" [formGroup]="initSignUp" (ngSubmit)="infoChange()"> -->
    <div class="container">
        <div class="row" id="basicUserInfo">
            <div class="col-sm">
                <p><b>Email:</b></p> {{user.email}}
                <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          formControlName="email" placeholder="Enter Email"> -->
            </div>
            <div class="col-sm">
                <p><b>Birthday:</b></p> {{user.bDate}}
            </div>
            <div class="col-sm">
                <p><b>Phone Number:</b></p> {{user.phoneNum}}
            </div>
        </div>
        <div class="row" id="userAddInfo">
            <div class="col-sm">
                <p><b>Address:</b></p> {{user.add}}
            </div>
            <div class="col-sm">
                <p><b>City:</b></p> {{user.city}}
            </div>
            <div class="col-sm">
                <p><b>Zip Code:</b></p> {{user.zip}}
            </div>
        </div>
    </div>
