
<div class="container">
        <div class="row">
          <div id = "birdA" class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body" >
                  <h5 class="card-title">Bird Plan A</h5>
                  <p class="card-text">
                      Accidental Injuries<br>
                      Poisonings<br>
                      Illnesses<br>
                      Nutrition Disc.<br>
                      Training Education<br>
                  </p>
                </div>
              </div></div>
          <div id = "birdB" class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Bird Plan B</h5>


                  <p class="card-text">
                    Parasite Prevention<br>
                    Physical Exams<br>
                    X-Rays<br>
                    Lab Fees<br>
                    Diagnostics Tests<br>
                    Office Visits <br>
                    Prescriptions<br>
                    </p>
                 
                </div>
              </div></div>
          <div id = "birdC" class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Bird Plan C</h5>
                 
                  <p class="card-text">
                      Vacation Planning Aid<br>
                      Flea & Heartworm <br>
                      Vaccinations <br>
                      Emergency Care Options<br>
                  </p>
                 
                </div>
              </div></div>
        </div>
      </div> 
