<router-outlet name="hNav"></router-outlet>
<div class="container" style="margin-top: 13px">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm" id = "signinCol">

          <form id = "myform1" [formGroup] = "SignIn" (ngSubmit)="signin()">
                  <div class="form-group">
                      <h1 style ="color: black" style="text-align: center">User Sign In</h1>
                    <label for="exampleInputEmail2" style ="color: black" name="email" ngControlDefault required>Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" formControlName="email" placeholder="Enter Email">
                    <small id="emailHelp" class="form-text text-muted">example@gmail.com</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword2" style ="color: black" name="password" required>Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" formControlName="password" placeholder="Password" >
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                    <label class="form-check-label" for="exampleCheck2" style ="color: black">Remember login</label>
                  </div>
                  <button id ="submitbutton1" type="submit" style="margin-bottom: 10px">Sign In</button>
              </form>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>