<div class="container">
        <div class="row">
          <div class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body" >
                  <h5 class="card-title">Rodent Plan A</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Plan Subtitle</h6>
                  <p class="card-text">
                    Parasite Prevention <br>
                      Nutrition Discounts<br>
                      Dental Work<br>
                      Accidental Injuries<br>
                      Poisonings<br>
                      Illnesses<br>
                      Training and Education <br>
                      </p>
                  <a href="#" class="card-link">Plan link</a>
                </div>
              </div></div>
          <div class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Rodent Plan B</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Plan Subtitle</h6>
                  <p class="card-text">
                    Physical Exams<br>
                      Grooming (nails)<br>
                      Lab Fees<br>
                      X-Rays<br>
                      Diagnostics Tests<br>
                      Office Visits <br>
                      Prescriptions<br>
                      </p>
                  <a href="#" class="card-link">Plan link</a>
                </div>
              </div></div>
          <div class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Rodent Plan C</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Plan Subtitle</h6>
                  <p class="card-text">
                      Vacation Planning Aid<br>
                      Flea & Heartworm Vaccinations <br>
                      Emergency Care Options<br>
                      
                  </p>
                  <a href="#" class="card-link">Plan link</a>
                </div>
              </div></div>
        </div>
      </div> 
